body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.jumbotron-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 75%;
}

.nav-link {
  margin-left: 10px;
}

.nav-link:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.navbar {
  border-bottom: solid 1px;
}

.padding {
  padding-bottom: 2rem;
}

.fa-envelope:hover,
.fa-linkedin-in:hover, .fa-github:hover, .fa-link:hover {
  color: rgb(82, 83, 81) !important;
  font-size: 250%;
}

.fa-envelope,
.fa-linkedin-in, .fa-github {
  margin: 5px;
}

#pic-oskar {
  height: 275px;
  width: 230px;
  float: left;
  margin-right: 15px;
}

ul {
  list-style-position: inside;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Up to medium devices */
@media (max-width: 768px) {
  .jumbotron-header {
    font-size: 250%;
  }
  .jumbotron-caption > p {
    font-size: 90%;
    text-align: left !important;
  }
  .jumbo {
    height: 200px !important;
  }
}

@media (max-width: 576px) {
  #pic-oskar {
    height: 160px;
    width: 142px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
